<div class="paper">
    <h1>FICHE D'IDENTIFICATION ET D'UNE DROGUE</h1>
    <div id="identification-info">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkZUUzPWexwYFKYLr3eR81HIW6UGWZcAKoSQ&s">
        <div class="personal-info">
            <div class="info-group">
                <span>TITRE DE L'OBJET:</span>
                <span>Stark</span>
            </div>
            <div class="info-group">
                <span>SUJET:</span>
                <span>Anthony Edwards</span>
            </div>
            <div class="info-group">
                <span>COULEUR:</span>
                <span></span>
            </div>
            <div class="info-group">
                <span>NATURE:</span>
                <span></span>
            </div>
            <div class="info-group">
                <span>MATIERE:</span>
                <span></span>
            </div>
        </div>
    </div>
    <div id="other-info">
        <div class="info-group">
            <span>MARQUE:</span>
            <span>Homme</span>
        </div>
        <div class="info-group">
            <span>LARGEUR:</span>
            <span>Camerounaise</span>
        </div>
        <div class="info-group">
            <span>HAUTEUR:</span>
            <span>04</span>
        </div>
        <div class="info-group">
            <span>PROFONDEUR:</span>
            <span>01</span>
        </div>
        <div class="info-group">
            <span>POIDS:</span>
            <span>Ingenieur en informatique</span>
        </div>
        <div class="info-group">
            <span>VOLUME:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>FABRICANT:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>DETENTEUR:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>PROPRIETAIRE:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>DATE DE FABRICATION:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>EPOQUE:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>DESCRIPTION:</span>
            <span>A</span>
        </div>
    </div>
</div>
<div class="paper">
    <h2>CARACTERISTIQUES DE LA DROGUE</h2>
    <div id="other-info">
        <div class="info-group">
            <span>ORIGINE:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>NOMBRE DE PIECES:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>NIVEAU DE PURETE:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>PROPRIETES DE LA DROGUE:</span>
            <span>A</span>
        </div>
        <div class="info-group">
            <span>ANALYSE SUSCI:</span>
            <span>A</span>
        </div>
    </div>
</div>