<div class="paper">
    <h1>FICHE D'IDENTIFICATION ET D'INFORMATIONS PERSONNELLES</h1>
    <div id="identification-info">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkZUUzPWexwYFKYLr3eR81HIW6UGWZcAKoSQ&s">
        <div class="personal-info">
            <div class="info-group">
                <span>NOMS:</span>
                <span>Stark</span>
            </div>
            <div class="info-group">
                <span>PRENOMS:</span>
                <span>Anthony Edwards</span>
            </div>
            <div class="info-group">
                <span>SURNOMS/ALIAS:</span>
                <span></span>
            </div>
            <div class="info-group">
                <span>DATE DE NAISSANCE:</span>
                <span></span>
            </div>
            <div class="info-group">
                <span>LIEU DE NAISSANCE:</span>
                <span></span>
            </div>
        </div>
    </div>
    <div id="other-info">
        <div class="info-group">
            <span>STATUT CIVIL:</span>
            <div class="status">
                <div class="status-group">
                    <label for="celibataire">CELIBATAIRE</label>
                    <input type="checkbox" id="celibataire">
                </div>
                <div class="status-group">
                    <label for="divorce">DIVORCE(E)</label>
                    <input type="checkbox" id="divorce">
                </div>
                <div class="status-group">
                    <label for="marie">MARIE(E)</label>
                    <input type="checkbox" id="marie">
                </div>
                <div class="status-group">
                    <label for="veuf">VEUF(VE)</label>
                    <input type="checkbox" id="veuf">
                </div>
            </div>
        </div>
        <div class="info-group">
            <span>SEXE:</span>
            <span>Homme</span>
        </div>
        <div class="info-group">
            <span>NATIONALITE:</span>
            <span>Camerounaise</span>
        </div>
        <div class="info-group">
            <span>NOMBRE D'ENFANTS:</span>
            <span>04</span>
        </div>
        <div class="info-group">
            <span>NOMBRE D'EPOUSES:</span>
            <span>01</span>
        </div>
        <div class="info-group">
            <span>PROFESSION:</span>
            <span>Ingenieur en informatique</span>
        </div>
        <div class="info-group">
            <span>GRADE:</span>
            <span>A</span>
        </div>
    </div>
    <h2>LIEU DE NAISSANCE</h2>
    <div class="pob-info">
        <div class="info-group">
            <span>PAYS DE NAISSANCE:</span>
            <span>Cameroun</span>
        </div>
        <div class="info-group">
            <span>REGION:</span>
            <span>Ouest</span>
        </div>
        <div class="info-group">
            <span>NOM DE LA VILLE:</span>
            <span>Bagangte</span>
        </div>
        <div class="info-group">
            <span>DEPARTEMENT:</span>
            <span>Nde</span>
        </div>
        <div class="info-group">
            <span>ARRONDISSEMENT:</span>
            <span>Lorem ipsum</span>
        </div>
        <div class="info-group">
            <span>LIEU DIT:</span>
            <span>Toungui</span>
        </div>
    </div>
</div>
<div class="paper">
    <h2>LIEU DE RESIDENCE</h2>
    <div class="pob-info">
        <div class="info-group">
            <span>PAYS DE RESIDENCE:</span>
            <span>Cameroun</span>
        </div>
        <div class="info-group">
            <span>REGION:</span>
            <span>Ouest</span>
        </div>
        <div class="info-group">
            <span>NOM DE LA VILLE:</span>
            <span>Bagangte</span>
        </div>
        <div class="info-group">
            <span>DEPARTEMENT:</span>
            <span>Nde</span>
        </div>
        <div class="info-group">
            <span>ARRONDISSEMENT:</span>
            <span>Lorem ipsum</span>
        </div>
        <div class="info-group">
            <span>LIEU DIT:</span>
            <span>Toungui</span>
        </div>
    </div>
    <h2>RELATIONS</h2>
    <table>
        <tr>
            <th>NOM(S) & PRENOM(S)</th>
            <th>TYPE DE RELATION</th>
        </tr>
        <tr>
            <td>ABALI GILBERT</td>
            <td>Pere</td>
        </tr>
        <tr>
            <td>ABAH MARIE</td>
            <td>Mere</td>
        </tr>
    </table>
    <h2>CONTACTS</h2>
    <table>
        <tr>
            <th>NUMERO DE TELEPHONE</th>
            <th>ADRESSE MAIL</th>
            <th>FAX</th>
        </tr>
        <tr>
            <td>696969696</td>
            <td>mail</td>
            <td>.......</td>
        </tr>
    </table>
    <h2>SITUATION PROFESSIONNELLE</h2>
    <div class="pro-info">
        <div class="info-group">
            <span>EMPLOYEUR:</span>
            <span>MTN Cameroun</span>
        </div>
        <div class="info-group">
            <span>POSTE OU FONCTION:</span>
            <span>Chef de service</span>
        </div>
        <div class="info-group">
            <span>PERSONNE A CONTACTER EN ENTREPRISE:</span>
            <span>Endong</span>
        </div>
        <div class="info-group">
            <span>MATRICULE PROFESSIONNEL:</span>
            <span>12547896324</span>
        </div>
        <div class="info-group">
            <span>MATRICULE SOLDE:</span>
            <span>8746562069</span>
        </div>
        <div class="info-group">
            <span>MATRICULE CNPS:</span>
            <span>515198984541876</span>
        </div>
    </div>
    <h2>CONTACTS DE L'EMPLOYEUR</h2>
    <table>
        <tr>
            <th>NUMERO DE TELEPHONE</th>
            <th>ADRESSE MAIL</th>
            <th>FAX</th>
        </tr>
        <tr>
            <td>696969696</td>
            <td>mail/td>
            <td>.......</td>
        </tr>
    </table>
</div>
<div class="paper">
    <h2>DECORATIONS</h2>
    <table>
        <tr>
            <th>LIBELLE</th>
            <th>DATE DE DECORATION</th>
        </tr>
        <tr>
            <td>Chevalier de l'honneur</td>
            <td>22/08/2006</td>
        </tr>
    </table>
    <h2>ANTECEDANT JUDICIAIRE</h2>
    <table>
        <tr>
            <th>MOTIF DE LA CONDAMNATION</th>
            <th>LIEU OU LA PENE A ETE PURGE</th>
            <th>DUREE DE LA DETENTION</th>
            <th>AMANDE PAYEE</th>
        </tr>
        <tr>
            <td>Vol a main armee</td>
            <td>Kondengui</td>
            <td>24 mois</td>
            <td>4,550,775</td>
        </tr>
    </table>
    <h2>SIGNE PARTICULIER</h2>
    <div class="sign-info">
        <div class="info-group">
            <span>Coupure a l'oreil droit</span>
        </div>
    </div>
</div>